In [1]:
import pandas as pd
import dfview as vw  # <--- our package

In [2]:
df = pd.read_csv('data.csv')

#### Initializing our DataOverview objet linking to "my_describe" variable

In [3]:
my_describe = vw.DataOverview(df)

#### Printing of column's type distributions

In [4]:
my_describe.columns_type()

{'int64': 35, 'float64': 3, 'object': 43, 'bool': 0, 'datetime64': 0}

#### Printing our describe data for object columns

In [5]:
my_describe.show('object')

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
dtype,object,object,object,object,object,object,object,object,object,object,...,object,object,object,object,object,object,object,object,object,object
count,1460,1460,91,1460,1460,1460,1460,1460,1460,1460,...,1379,1379,1379,1379,1460,7,281,54,1460,1460
null,0,0,1369,0,0,0,0,0,0,0,...,81,81,81,81,0,1453,1179,1406,0,0
mode,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Normal
n_mode,1151,1454,50,925,1311,1459,1052,1382,225,1260,...,870,605,1311,1326,1340,3,157,49,1267,1198

#### Showing the data distribution of a column list

In [6]:
my_describe.obj_distrib(column_list=['MSZoning','Street','Alley','LotShape','LandContour'])

     MSZoning     Street      Alley LotShape LandContour
0      null 0     null 0  null 1369   null 0      null 0
1     RL 1151  Pave 1454    Grvl 50  Reg 925    Lvl 1311
2      RM 218     Grvl 6    Pave 41  IR1 484      Bnk 63
3       FV 65                         IR2 41      HLS 50
4       RH 16                         IR3 10      Low 36
5  C (all) 10

In [8]:
my_describe.obj_distrib(column_list=['MSZoning','Street','Alley','LotShape','LandContour'], axis=0)

                     0          1        2       3       4           5
MSZoning        null 0    RL 1151   RM 218   FV 65   RH 16  C (all) 10
Street          null 0  Pave 1454   Grvl 6
Alley        null 1369    Grvl 50  Pave 41
LotShape        null 0    Reg 925  IR1 484  IR2 41  IR3 10
LandContour     null 0   Lvl 1311   Bnk 63  HLS 50  Low 36

In [9]:
my_describe.obj_distrib(column_list=['MSZoning','Street','Alley','LotShape','LandContour'], axis=0, include_nulls=False)

                     1        2       3       4           5
MSZoning       RL 1151   RM 218   FV 65   RH 16  C (all) 10
Street       Pave 1454   Grvl 6
Alley          Grvl 50  Pave 41
LotShape       Reg 925  IR1 484  IR2 41  IR3 10
LandContour   Lvl 1311   Bnk 63  HLS 50  Low 36

The axis with numbers is used to count how many occurence of each data type at that column